/* reset to make working easier */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  width: 375px;
  text-align: center;
}

/* positioning the background image */
#background-image1 {
  background-image: url(./images/header-illsutration-mobile.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 630.38px;
  height: 658px;
  left: 0;
  top: 57.12px;
}

/* about me cards images */
.icon img {
  position: absolute;
  width: 120px;
  height: 120px;
  left: 104px;
  top: 24px;
}

#tool-bar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: absolute;
  width: 375px;
  height: 48px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#normal-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 24px;
  top: calc(50% - 30px / 2);
  border-radius: 8px;
}

#logo-placeholder {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  position: absolute;
  width: 114px;
  height: 48px;
  left: 12px;
  top: calc(50% - 48px / 2);
  order: 0;
}

#welcome {
  width: 90px;
  height: 28px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #28352f;
  order: 0;
}

/* tool bar */
#unions {
  position: absolute;
  width: 18px;
  height: 12px;
  left: 3px;
  top: 6px;
  background-color: #28352f;
}

/* main body */
#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px;
  gap: 58px;
  position: absolute;
  width: 375px;
  height: 726px;
  left: 0;
  top: 48px;
}

.primary {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.primary span {
  color: #36b37f;
}

.support {
  width: 327px;
  height: 164px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #172b4d;
}

#social {
  width: 327px;
  height: 48px;
}

#action {
  width: 327px;
  height: 48px;
  order: 3;
  position: absolute;
  top: 614px;
  left: 24px;
}

#action-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  width: 40px;
  height: 40px;
  left: calc(50% - 40px / 2 + 0.5px);
  bottom: 4px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 32px;
}

#action-button img {
  position: absolute;
  left: 32%;
  right: 25%;
  top: 40.5%;
  bottom: 34.5%;
}

.flg {
  flex: none;
  flex-grow: 0;
}

/* Recent section */
#recent-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px;
  gap: 58px;
  position: absolute;
  width: 379px;
  height: 3283px;
  left: 0;
  top: 708px;
}

#recent-work-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  width: 327px;
  height: 125px;
  order: 0;
}

#recent-work-text h1 {
  width: 327px;
  height: 97px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  order: 0;
}

#recent-work-text img {
  width: 48px;
  height: 4px;
  background: #36b37e;
  border-radius: 24px;
  order: 0;
}

#card-row {
  display: grid;
  grid-template-columns: 1fr;
  padding: 4px 2px;
  gap: 24px;
  width: 331px;
  height: 2972px;
}

.card {
  width: 327px;
  height: 474px;
  position: relative;
  top: 4px;
  left: 2px;
}

.card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 16px;
  position: absolute;
  width: 327px;
  height: 222px;
  left: calc(50% - 327px / 2);
  bottom: 0;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #d0d9d4;
}

.project-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #3a4a42;
}

.tags1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 8px;
  width: 305px;
  height: 32px;
}

.inner-tag1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  height: 32px;
  background: #ebf0ee;
  border-radius: 4px;
}

.inner-tag1 h5 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
}

.img-holder {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  z-index: -1;
}

.see-project {
  width: 305px;
  height: 69px;
  position: relative;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  position: absolute;
  left: calc(50% - 122px / 2 + 0.5px);
  bottom: 8px;
  background: #36b37f;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: all 1000ms ease-in-out;
}

.btn-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  display: flex;
  align-items: center;
}

#about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px;
  gap: 68px;
  position: absolute;
  width: 375px;
  height: 1625px;
  left: 0;
  top: 3927px;
}

#about-me-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  width: 351px;
  height: 333px;
}

.btn-resume {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  background: #36b37f;
  border: 0;
  border-radius: 4px;
  margin-top: 5px;
  z-index: 5;
  cursor: pointer;
  transition: all 1000ms ease-in-out;
}

.btn:hover,
.btn-resume:hover {
  opacity: 0.5;
}

#background-image2 {
  background-image: url(./images/illustration-about-me-mobile.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 483.39px;
  height: 389.38px;
  left: 0;
  bottom: 1232px;
}

#background-image3 {
  background-image: url(./images/illustration1-about-me-mobile.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 118.87px;
  height: 107.94px;
  right: -51px;
  bottom: 1500px;
}

.about-me-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px;
  gap: 24px;
  width: 327px;
  height: 1106px;
}

.about-me-cards {
  width: 327px;
  height: 352px;
  position: relative;
  top: -30px;
}

.title-tags {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  position: absolute;
  width: 327px;
  height: 96px;
  left: calc(50% - 327px / 2);
  bottom: 72px;
  z-index: 5;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 8px;
}

.inner-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  background: #fff;
  border-radius: 8px;
}

.inner-tags h5 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.icon {
  position: absolute;
  width: 327px;
  height: 128px;
  left: calc(50% - 327px / 2);
  top: 16px;
  z-index: 5;
}

.about-me-image-placeholder {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #ebf0ee;
  box-sizing: border-box;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
}
